* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
img {
  width: 100%;
}
[data-dpr='1'] main,
[data-dpr='1'] header {
  min-width: 320px;
  max-width: 640px;
}
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header,
footer {
  width: 100%;
}
header .header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 0.3125rem 0.3125rem;
  align-items: center;
  background-color: #fff;
}
header .header .h-left {
  height: 0.625rem;
  width: 0.625rem;
  background: url('../img/headerimg/icon_back_n.png') no-repeat;
  background-size: contain;
}
header .header .h-mid {
  flex: 1;
  text-align: center;
  width: 50%;
  font-size: 0.5rem;
}
header .header .h-right a {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 1rem;
  align-items: center;
}
header .header .h-right a .h-icon {
  color: #ccc;
  font-size: 0.625rem;
}
main {
  position: relative;
  flex: 1;
  width: 100%;
  overflow-y: auto;
}
footer {
  border-top: 1px solid #ccc;
}
footer ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}
footer ul li {
  width: 25%;
}
footer ul li a {
  display: block;
}
footer ul li .nav {
  text-align: center;
  padding: 0.15625rem 0;
}
footer ul li .nav .icon {
  width: 0.625rem;
  height: 0.625rem;
  overflow: hidden;
  margin: 0 auto 0.09375rem;
  background: url(../img/footerimg/spr1_5b2e09c.png);
  background-size: 0.625rem 5rem;
}
footer ul li .nav span {
  display: block;
  color: #000;
  font-size: 0.34375rem;
}
footer ul li .nav .fl {
  background-position-y: -0.625rem;
}
footer ul li .nav .fl-act {
  background-position-y: 0rem;
}
footer ul li .nav .sy {
  background-position-y: -4.375rem;
}
footer ul li .nav .sy-act {
  background-position-y: -3.75rem;
}
footer ul li .nav .cart {
  background-position-y: -1.875rem;
}
footer ul li .nav .cart-act {
  background-position-y: -1.25rem;
}
footer ul li .nav .mine {
  background-position-y: -3.125rem;
}
footer ul li .nav .mine-act {
  background-position-y: -2.5rem;
}
.header .h-mid {
  width: 50%;
}
.header .h-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
.header .h-right .listslide {
  padding: 0.15625rem;
  border: 1px solid #ff5722;
  font-size: 0.375rem;
  width: 1.5625rem;
  text-align: center;
}
.header .h-right .kf {
  padding: 0.15625rem;
  font-size: 0.375rem;
}
.carousel-inner .item a img {
  height: 4.6875rem;
}
.sub-header {
  background-color: #fafafa;
  overflow-y: hidden;
}
.sub-header .sub-list {
  overflow-x: scroll;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0.09375rem;
}
.sub-header .sub-list .listslide {
  display: inline-block;
  font-size: 0.4375rem;
  text-align: center;
  flex: 0 0 1rem;
  margin: 0 0.25rem;
}
.sub-header .sub-list .morewords {
  flex: 0 0 2rem;
}
.actived {
  color: #FF5722;
  border-bottom: 2px solid #FF5722;
}
.actives {
  background-color: #ffb03f;
}
main {
  flex: 1;
  position: relative;
  z-index: 1;
  width: 100%;
  overflow-y: auto;
  background-color: #f1f2f7;
}
main .con {
  display: none;
}
main .con:first-child {
  display: block;
}
main .tj img {
  width: 100%;
}
main .tj .tj-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .tj .tj-list a {
  display: inline-block;
  width: 20%;
}
main .tj .tj-like {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  padding: 0.15625rem 0 0.46875rem 0;
}
main .tj .tj-like .title {
  color: #ff6000;
  height: 1rem;
  font-size: 0.5rem;
}
main .tj .tj-like .line {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  position: relative;
  width: 80%;
  height: 1px;
  background-color: #ccc;
}
main .tj .tj-like .line .text {
  position: absolute;
  padding: 0.0625rem 0.3125rem;
  margin-top: -0.3125rem;
  background-color: #fff;
  font-size: 0.375rem;
}
main .tj .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
main .tj .content .content-pic {
  padding: 0.15625rem;
  margin: 0.15625rem;
  background-color: #fff;
}
main .tj .content .content-pic img {
  height: 4.6875rem;
}
.pop .pop-mask {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.pop .pop-main {
  position: fixed;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75%;
  background-color: #fff;
  transform: translateY(110%);
  transition: transform .5s;
}
.pop .pop-main .pop-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
}
.pop .pop-main .pop-head .pop-kf {
  display: inline-block;
  flex: 1;
  font-size: 0.40625rem;
  color: #000;
  border-bottom: 1px solid #ccc;
}
.pop .pop-main .pop-c {
  flex: 1;
}
.pop .pop-main .pop-c .con {
  position: relative;
  display: none;
  height: 100%;
}
.pop .pop-main .pop-c .con:first-child {
  display: block;
}
.pop .pop-main .pop-c .con .pop-content-kf {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pop .pop-main .pop-c .con .pop-content-kf img {
  width: 7.8125rem;
  height: 7.8125rem;
}
.pop .pop-main .pop-c .con .pop-content-kf span {
  font-size: 0.5rem;
  color: #000;
}
.pop .pop-main .pop-c .con .pop-content-kf div:nth-child(1) {
  font-size: 0.46875rem;
  color: red;
  font-weight: 800;
}
.pop .pop-main .pop-c .con .pop-content-kf .tel {
  padding-top: 0.3125rem;
  font-size: 0.4375rem;
  color: red;
}
.pop .pop-active {
  transform: translateY(0%);
}
