{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__STATIC__/less/mine.css">
<style>
</style>
<script src="__STATIC__/js/mine.js"></script>
	<main>
		<!-- 模板 -->
			<template>
				<div class="shop-main">
					<a class="a">
					<div class="goodslist">
						<div class="shop-pic">
							<img src="../img/cartimg/1.jpg">
						</div>
						<div class="shopmain">
							<div class="shopn">小米5X 全网通版 4GB内存 红色 64GB</div>
							<div class="shop-style">
								<span>订单状态：</span>
								<span style="color:red"> 已完成</span>

							</div>
							<div class="shop-userdate">
								<span>开奖日期：</span>
								<span> 已完成</span>
							</div>
							<div class="shop-userstyle">
								<span>兑换码：</span>
								<span> 已完成</span>
							</div>
						</div>
					</div>
					</a>
				</div>
			</template>
		<div class="con yhq"></div>
		<div class="con cjq"></div>
		<div class="con dd"></div>
	</main>
	{include file="public/footer"}